@import 'variables';
@import 'mixins';

.container {
  width: 100%;
  margin: 0 auto;
}

.container, .row {
  @extend %clearfix;
}

.primary .box {
  width: 20%;
  height: 20px;
  margin-right: 5px;
  background: orange;
  display: inline-block;
  @include primary-colors(#d8f5e8, teal, gold, tomato);
  // @include priCol(#98ff98, teal, gold, tomato);
}

// @media only screen and (min-)
